<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- This is our bean -->
	<!-- Injecting Primitive type data -->
	<!-- Property injection using value tag -->
	<bean class="com.springCore.Student" name="student1">
		<property name="studentId">
			<value>101</value>
		</property>
		<property name="studentName">
			<value>Rahul</value>
		</property>
		<property name="studentAddress">
			<value>Ranchi</value>
		</property>
	</bean>

	<!-- Property injection using value attribute -->
	<bean class="com.springCore.Student" name="student2">
		<property name="studentId" value="102" />
		<property name="studentName" value="Rohit" />
		<property name="studentAddress" value="Ranchi" />

	</bean>
	<!-- Property injection using P Schema -->
	<bean class="com.springCore.Student" name="student3"
		p:studentId="103" p:studentName="Vipul" p:studentAddress="Lohardaga" />

</beans>